.content {
  font-family: Avantgarde, serif;
  padding: 1em;
  background-color: #FFFFFF;
  border-color: #D2D2CF;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

span.email:after {
  content: "@mail.com";
}

a.file:after {.
  padding-left: 0.1em;
  content: "\21A7";
}

a.external:after {.
  padding-left: 0.1em;
  content: "\21A6";
}

pre {
  background-color: #CCCCCC;
  padding: 1em;
  white-space: pre-wrap;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

code {
  background-color: #CCCCCC;
  white-space: nowrap;
  line-height:2em;
  padding: 0.2em;
  border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
}

.tagcloud {
  word-spacing: 0.5em;
}

.sidebar h3 {
  margin-top: 0px;
  margin-bottom: 0.2em;
}

.article_short {
  margin-bottom: 1em;
  border-color: #D2D2CF;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
}

.article_header {
  padding: 0.2em;
  border-color: #D2D2CF;
  border-width: 1px;
  border-bottom-style: solid;
}

.article_header a {
  text-decoration: none;
}

.article_title h3 {
  margin-top: 0px;
  margin-bottom: 0.2em;
  float: left;
}

.article_category a img {
  float: right;
  vertical-align: middle;
  border-style: none;
}

.article_created {
  clear: left;
  font-family: Helvetica, sans-serif;
  font-size: 0.8em;
  color: #666666;
}
.article_summary {
  padding: 0.5em;
}

.article_list a {
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}
.article_list ul {
  padding-left: 0.5em;
}

.article_list li {
  list-style: none;
}

