body {
  margin: 2em;
  font-family: Helvetica, sans-serif;
  color: #000000;
  background-color: #FFFFFF;
}

a {
  color: #000000;
  text-decoration: none;
}
a[href]:after {
  content:" (\21A6  "attr(href)")";
  font-style:italic;
}

h1, h2, h3, h4 {
  font-family: Helvetica, sans-serif;
}

#header {
  display: none;
}
#content {
  font-family: Avantgarde, serif;
  padding: 1em;
}

#footer .menu {
  display: none;
}
#footer .copy {
}
