.cold {
    color: #3399FF;
}
.hot {
    color: #FF3333;
}

/* JQuery mobile settings */
input.ui-slider-input {
    display:none !important;
}

/* */
img.push {
    border-radius:10px;
}
img.switch {
    border-radius:10px;
}
img.trigger {
    border-radius:10px;
}
img.push:hover {
    cursor: pointer;
}
img.switch:hover {
    cursor: pointer;
}
img.trigger:hover {
    cursor: pointer;
}

