<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
         "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta charset="utf-8">
  <title>SmartHome.py - {{ page.title }}</title>
  <meta name="date" content="{{ site.time }}">
  <link rel="stylesheet" type="text/css" href="/smarthome/css/screen.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/smarthome/css/content.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/smarthome/css/syntax.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/smarthome/css/print.css" media="print">
</head>

<body>
  <div id="header">
    <a href="/"><img src="/media/img/logo.png"></a>
    <span class="menu">
      <ul>
        <li><a href="/install/">Install</a></li>
        <li><a href="/config/">Config</a></li>
        <li><a href="/plugins/">Plugins</a></li>
        <li><a href="/logic/">Logic</a></li>
        <li><a href="http://sourceforge.net/p/smarthome/tickets/">Bugs</a>
        <li><a href="http://sourceforge.net/projects/smarthome/files/">Download</a></li>
      </ul>
    </span>
  </div>
  <div id="contfoot">
    <div id="content" class="content">
        {{ content }}
    </div>
    <div id="footer">
      <!-- <div class="copy">&copy; <%= Date.today.strftime(fmt='%Y') %> SmartHome.py - All rights reserved.</div> -->
    </div>
  </div>
  <div class="content sidebar tagcloud">
    <h3>Tags</h3>
    <div style="float: left;">
      <%= tag_cloud() %>
    </div>
  </div>
</body>

</html>
